{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1> About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repudiandae alias laboriosam iste labore officia ratione, 
                expedita distinctio libero aperiam ad quos modi animi minus, 
                quod cum corrupti. Ea, sint itaque?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/house3.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}} 